body {
    padding-top: 70px
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-dark {
    background: #2c3e50;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.img-thumbnail {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

