body {
    padding-top: 70px;
    background-color: rgb(207, 207, 207);
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
    font-family: "Ruthie";
    text-align: center;
    height: 200px;
    padding-top: 30px;
}

h1 {
    font-family: "Ruthie"; 
    font-size: 65px;
}

p {
    font-size: 40px;
}


.navbar-dark {
    background: #2c3e50;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.img-thumbnail {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}
